<h2>You can add new item to lucky wheel</h2>
{{#if message}}
<div class="error">{{ message }}</div>
{{/if}}
<form method="POST" action="">
	<div>
		<label for="user">User:</label>
		<input type="text" id="user" name="user" value="">
	</div>
	<div>
		<label for="name">Item's Name:</label>
		<input type="name" id="name" name="name" value="">
	</div>
	<input  class="btn btn-success" type="submit" value="Add">
</form>
