<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lucky color wheel</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div>
      <p class="result">Lucky color is <span id="colorResult"></span></p>
      <div class="box">
        <canvas></canvas>
        <button type="button" id="btnSpin">SPIN</button>
      </div>
     
    </div>
    <script src="./main.js"></script>
  </body>
  <h1><a href="/List/add">Click Here to Add LuckWheel Items</a></h1>
  <h1><a href="/">Go Back Home</a></h1>
  <ol>
    {{#each List as |a|}}
    <li>
      <a href="{{url}}">{{name}}</a> - [<a href="/List/{{slug}}">details</a>]
    </li>
    {{/each}}
  </ol>
</html>