<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Random Number Generator</title>
   
    <!-- Stylesheet -->
    <link rel="stylesheet" href="random.css" />
  </head>
  <body>
    <form method="POST" action="random">
	<div>
		<label  for="lowerbond">Lowerbond:</label>
		<input id="lowerbond" type="number" name="lowerbond" value="">
	</div>
	<div>
		<label for="upperbond">Upperbond:</label> 
		<input id="upperbond" type="number" name="upperbond" value="">
	</div>
	<div>
		<label for="number">Number:</label>
		<input  id="number" type="number" name="number" value="">
	</div>
	<div><input id="generate" type="submit" value="Generate"></div>
</form>
  </body>
</html>

