* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #eee;
  transition: background-color 0.35s ease-in-out;
}

.result {
  color: #000;
  font-size: 2rem;
  font-weight: 500;
  font-weight: bold;
  text-align: center;
}

.box {
  position: relative;
  margin: auto;
}

/* button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: block;
  width: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: bold;

  cursor: pointer;
  background-color: #fff;
} */

.author {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.author a {
  color: blue;
  text-decoration: none;
}

th, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}